<div class="media" id="<%= dom_id greeting %>">
  <img src="<%= gravatarized_url(greeting.name) %>" class="align-self-start mr-3" />
  <div class="media-body">
    <h5 class="mt-0"><%= greeting.name %></h5>
    <%= greeting.message %>
  </div>
  <br />
</div>
